# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
# Your code here:
def func(lista):
    return len(lista)

In [3]:
x = (2,3,4,10)
len(x)

4

In [4]:
func(x)

4

Create a function that returns the mean of a list of numbers

In [5]:
# Your code here:
def func(lst):
    return np.mean(lst)

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [6]:
# Your code here:
def func(list1):
    return np.std(list1)

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [7]:
# Your code here:
def f(list2):
    """A lista x contém a itens, uma média de b, e um desvio padrão de c.
    Exemplo: 
    x = (2,3,4,10)
    A lista x contém 4 itens, uma média de 4.75, e um desvio padrão de 3.112474899497183.""" 
    a = len(list2)
    b = np.mean(list2)
    c = np.std(list2)
    return a, b, c

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [8]:
# Your code here:
import re
def func(x):
    x = re.sub('[^a-zA-Z\s]', '', x)
    z = x.lower().split()
    z.sort()
    final = ", ".join(z)
    return final

y = '1 Guenka, Yshida yukari @%#'  
func(y)

'guenka, yshida, yukari'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [9]:
# Your code here:
def fun(y):
    if y >= 60:
        return "Idoso"
    elif 18 <= y <60:
        return "Adulto"
    else :
        return "Criança/Adolescente"
x = 72
fun(x)

'Idoso'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [10]:
# Your code here:
def fun(z):
    if 0 <= z <= 150:
        return "Idade ok"
    else :
        z = int(input("Qual a sua idade ? Digite:"))
        return fun(z)

x = 155

fun(x)

Qual a sua idade ? Digite:24

'Idade ok'

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [11]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def f(a):
    b = a.replace(',','').split()
    b.sort()
    return b
f(buzz)

['AI', 'Big', 'Data', 'Data', 'Learning', 'Machine', 'Pipeline', 'Warehouse']

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [12]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def f(v):
    w = v.replace(',','').split()
    w.sort()
    print(w)
f(buzz)

['AI', 'Big', 'Data', 'Data', 'Learning', 'Machine', 'Pipeline', 'Warehouse']

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [13]:
import pandas as pd

In [14]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [17]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [19]:
np.mean(iris_numeric)

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

In [20]:
"""
A função calculou a média para cada coluna.
"""

'\nA função calculou a média para cada coluna.\n'

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [21]:
np.std(iris_numeric)

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

In [22]:
"""
A função calculou o desvio padrão para cada coluna.
"""

'\nA função calculou o desvio padrão para cada coluna.\n'

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [30]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    y = x*0.392701
    return y
cm_to_in(1)

0.392701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [40]:
# Your code here:
iris_inch = iris_numeric*0.392701

In [41]:
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.002775     1.374453      0.549781      0.07854
1      1.924235     1.178103      0.549781      0.07854
2      1.845695     1.256643      0.510511      0.07854
3      1.806425     1.217373      0.589052      0.07854
4      1.963505     1.413724      0.549781      0.07854
5      2.120585     1.531534      0.667592      0.15708
6      1.806425     1.335183      0.549781      0.11781
7      1.963505     1.335183      0.589052      0.07854
8      1.727884     1.138833      0.549781      0.07854
9      1.924235     1.217373      0.589052      0.03927

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [44]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    y = x + 2
    return y
iris_constant = add_constant(iris_numeric)
iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [47]:
# Your code here:
iris_numeric.apply(np.max)

sepal_length    5.4
sepal_width     3.9
petal_length    1.7
petal_width     0.4
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [48]:
# Your code here:
iris_numeric['total_length'] = iris_numeric['sepal_length'] + iris_numeric['petal_length']
iris_numeric['total_width'] = iris_numeric['sepal_width'] + iris_numeric['petal_width']
iris_numeric

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,3.2