# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [9]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [15]:
# Your code here:
print(pokemon.query('Legendary ==False')['Total'].mean())
print(pokemon.query('Legendary ==False')['Total'].std())

417.21360544217686
106.76041745713022

In [16]:
print(pokemon.query('Legendary ==True')['Total'].mean())
print(pokemon.query('Legendary ==True')['Total'].std())

637.3846153846154
60.93738905315346

In [28]:
mean_false = pokemon.query('Legendary ==False')['Total'].mean()
std_false = pokemon.query('Legendary ==False')['Total'].std()
mean_true = pokemon.query('Legendary ==True')['Total'].mean()
std_true = pokemon.query('Legendary ==True')['Total'].std()

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [27]:
from scipy.stats import ttest_ind

In [29]:
# Your code here:
ttest_ind(pokemon.query('Legendary ==False')['Total'], pokemon.query('Legendary ==True')['Total'], equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [117]:
# Your conclusions here:
"""
Neste caso, rejeitaremos a hipótese nula.
Ou seja, vamos rejeitar que são os dados 
são independentes e vamos aceitar que se 
um Pokemon é lendário, ele terá a pontuação 
mais alta.
"""

'\nNeste caso, rejeitaremos a hipótese nula.\nOu seja, vamos rejeitar que são os dados \nsão independentes e vamos aceitar que se \num Pokemon é lendário, ele terá a pontuação \nmais alta.\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [31]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [57]:
# Your code here:
mask = pokemon['Type 1'] == 'Water'
mean_water = pokemon[mask]['Total'].mean()
std_water = pokemon[mask]['Total'].std()

mask_1 = pokemon['Type 1'] != 'Water'
mean_other = pokemon[mask_1]['Total'].mean()
std_other = pokemon[mask_1]['Total'].std()

In [58]:
print(mean_water)
print(std_water)
print(mean_other)
print(std_other)

430.45535714285717
113.18826606431458
435.85901162790697
121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [59]:
# Your code here:
ttest_ind(pokemon[mask]['Total'], pokemon[mask_1]['Total'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [118]:
# Your conclusions here:
"""
Neste caso não podemos rejeitar a 
hipótese nula. Ou seja, podemos 
dizer que há uma relação entre
o tipo do Pokemon ser água e o total
da pontuação do mesmo.
"""

'\nNeste caso não podemos rejeitar a \nhipótese nula. Ou seja, podemos \ndizer que há uma relação entre\no tipo do Pokemon ser água e o total\nda pontuação do mesmo.\n'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [61]:
# Your code here:
from scipy.stats import ttest_rel

In [63]:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [64]:
# Your conclusions here:
"""
Como o p-value é menor que 0.01, podemos 
descartar a hipótese nula, onde ambos os 
dados são dependentes e que há uma relação
entre eles.
"""

'\nComo o p-value é menor que 0.01, podemos \ndescartar a hipótese nula, onde ambos os \ndados são dependentes e que há uma relação\nentre eles.\n'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [62]:
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [65]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [66]:
# Your conclusions here:
""" 
Como o valor de p é maior do que
0.1, podemos dizer que há pouca 
evidência de que devemos descartar a  
hipótese que ambos os dados não possui
nenhuma relação entre si.
"""

' \nComo o valor de p é maior do que\n0.1, podemos dizer que há pouca \nevidência de que devemos descartar a  \nhipótese que ambos os dados não possui\nnenhuma relação entre si.\n'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [67]:
# Your code here:
from scipy.stats import ttest_1samp

In [78]:
ttest_1samp((pokemon['Attack'].mean(), pokemon['Defense'].mean()),popmean=0)

Ttest_1sampResult(statistic=29.62805912284954, pvalue=0.02147890257109768)

In [79]:
"""
Como o valor de p está entre 0.01 e 0.05, podemos 
dizer que há uma evidência moderada contra a hipótese
nula de que a diferença entre as médias do Ataque e 
da Defesa é zero.
"""

'\nComo o valor de p está entre 0.01 e 0.05, podemos \ndizer que há uma evidência moderada contra a hipótese\nnula de que a diferença entre as médias do Ataque e \nda Defesa é zero.\n'

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [106]:
pokemon.rename(columns={'Type 1': 'Type1', 'Type 2':'Type2'}, inplace=True)

In [107]:
# Your code here:
pd.crosstab(pokemon.Legendary, pokemon.Type1)

Type1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [108]:
from scipy.stats import chi2_contingency

In [114]:
# Your code here:
arr = pd.crosstab(pokemon.Legendary, pokemon.Type1)
chi2_contingency(arr)

(90.4204913058596,
 5.118547414721704e-12,
 17,
 array([[ 63.39375,  28.48125,  29.4    ,  40.425  ,  15.61875,  24.80625,
          47.775  ,   3.675  ,  29.4    ,  64.3125 ,  29.4    ,  22.05   ,
          90.0375 ,  25.725  ,  52.36875,  40.425  ,  24.80625, 102.9    ],
        [  5.60625,   2.51875,   2.6    ,   3.575  ,   1.38125,   2.19375,
           4.225  ,   0.325  ,   2.6    ,   5.6875 ,   2.6    ,   1.95   ,
           7.9625 ,   2.275  ,   4.63125,   3.575  ,   2.19375,   9.1    ]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [119]:
# Your answer here:
"""
Não podemos descartar a hipótese nula
pois o valor de p é menor que 0.01. Ou
seja, mostra que há uma grande relação 
entre o tipo e se ele é lendário ou não.
"""

'\nNão podemos descartar a hipótese nula\npois o valor de p é menor que 0.01. Ou\nseja, mostra que há uma grande relação \nentre o tipo e se ele é lendário ou não.\n'